{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Swish API",
    "description": "Documentation for Swish API."
  },
  "host": "swish.ancelotow.com/api",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Rentrez un token valide dans le format **Bearer &lt;token>**"
    }
  },
  "produces": [
    "application/json"
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "description": "Connexion à un compte livreur.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logins",
            "in": "body",
            "description": "Les informations de connection",
            "schema": {
              "$ref": "#/definitions/ConnectionInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectionSession"
            },
            "description": "Les informations concernant la session de connection"
          }
        }
      }
    },
    "/current-delivery-tour": {
      "get": {
        "tags": [
          "Tour"
        ],
        "description": "Récupération de la tournée de livraison du livreur connecté.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Tour"
            },
            "description": "La tournée de livraison avec la liste des livraisons à effectuées"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "DeliveryPerson": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string",
          "example": "string"
        },
        "firstname": {
          "type": "string",
          "example": "string"
        },
        "email": {
          "type": "string",
          "example": "string"
        },
        "birthday": {
          "type": "string",
          "example": "2000-01-01"
        },
        "urlPhoto": {
          "type": "string",
          "example": "string"
        }
      }
    },
    "ConnectionSession": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "example": "string"
        },
        "deliveryPerson": {
          "type": "object",
          "properties": {
            "uuid": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            },
            "name": {
              "type": "string",
              "example": "string"
            },
            "firstname": {
              "type": "string",
              "example": "string"
            },
            "email": {
              "type": "string",
              "example": "string"
            },
            "birthday": {
              "type": "string",
              "example": "2000-01-01"
            },
            "urlPhoto": {
              "type": "string",
              "example": "string"
            }
          }
        }
      }
    },
    "ConnectionInfo": {
      "type": "object",
      "properties": {
        "login": {
          "type": "string",
          "example": "string"
        },
        "password": {
          "type": "string",
          "example": "string"
        }
      }
    },
    "Tour": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "0"
        },
        "date": {
          "type": "string",
          "example": "2000-01-01"
        },
        "parcels": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string",
                "example": "00000000-0000-0000-0000-000000000000"
              },
              "addressStreet": {
                "type": "string",
                "example": "string"
              },
              "town": {
                "type": "string",
                "example": "string"
              },
              "zipCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              },
              "isDelivered": {
                "type": "boolean",
                "example": true
              },
              "dateDelivered": {
                "type": "string",
                "example": "2000-01-01"
              },
              "urlProofDelivered": {
                "type": "string",
                "example": "string"
              }
            }
          }
        }
      }
    }
  }
}